@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: "Montserrat", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F9A51A;
  --color-secondary: #D72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #E7E7E7;
  --color-accent: #706f6f;
}

a.active{
  @apply link link-hover;
}
